li {
  list-style-type: none;
}

a {
  color: #000000;
  text-decoration: none;
}

/*----------------------Header-----------------------------*/
.webstudio-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.web-word-logo {
  color: #2196f3;
}

.nav-header-links {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav-header-links:hover {
  color: #2196f3;
}
/*----------------------Main-----------------------------*/
